### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

*.jar
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!jar/**/*.jar
!cli/jar/**/*.jar
!downloader/jar/**/*.jar
!ee/jar/**/*.jar

*target*
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/.gradle/

# Mac
.DS_Store

*.iml
ee/bin
addDevTag
addReleaseTag