name: Unit Tests

on:
  workflow_call:

jobs:
  dependency-branches:
    name: Dependency Branches
    runs-on: ubuntu-latest
    outputs:
      branches: ${{ steps.result.outputs.branches }}

    steps:
      - uses: actions/checkout@v4
      - uses: supertokens/get-core-dependencies-action@main
        id: result
        with:
          run-for: PR

  test:
    name: Unit tests
    needs: dependency-branches
    strategy:
      fail-fast: false
      matrix:
        plugin:
          - sqlite
          - postgresql
          # no longer supported
          # - mysql
          # - mongodb

    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 21.0.7
        uses: actions/setup-java@v2
        with:
          java-version: 21.0.7
          distribution: zulu
      - uses: actions/checkout@v2
        with:
          repository: supertokens/supertokens-root
          path: ./supertokens-root
          ref: for_jdk_21_backport_releases
      - uses: actions/checkout@v2
        with:
          path: ./supertokens-root/supertokens-core
      - uses: actions/checkout@v2
        with:
          repository: supertokens/supertokens-plugin-interface
          path: ./supertokens-root/supertokens-plugin-interface
          ref: ${{ fromJson(needs.dependency-branches.outputs.branches)['plugin-interface'] }}
      - uses: actions/checkout@v2
        if: matrix.plugin != 'sqlite'
        with:
          repository: supertokens/supertokens-${{ matrix.plugin }}-plugin
          path: ./supertokens-root/supertokens-${{ matrix.plugin }}-plugin
          ref: ${{ fromJson(needs.dependency-branches.outputs.branches)[matrix.plugin] }}
      - name: Load Modules
        run: |
          cd supertokens-root
          echo "core,master
          plugin-interface,master
          ${{ matrix.plugin }}-plugin,master
          " > modules.txt
          cat modules.txt
          ./loadModules
      - name: Setup test env
        run: cd supertokens-root && ./utils/setupTestEnv --local
      - name: Start ${{ matrix.plugin }} server
        if: matrix.plugin != 'sqlite'
        run: cd supertokens-root/supertokens-${{ matrix.plugin }}-plugin && ./startDb.sh
      - name: Run tests
        env:
          ST_PLUGIN_NAME: ${{ matrix.plugin }}
        run: |
          cd supertokens-root
          ./gradlew test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          detailed_summary: true
          include_passed: false
          annotate_notice: true
